.interviews-manager {
  background-color: #f8f8f8;
  min-height: 100vh;

  &.dark {
    background-color: #121420;


    .interview-title {
      h1 {
        color: white;
      }
    }
  }

  .interview-title {
    // border: 1px solid black;
    margin: 0.5rem 1rem;

    h1 {
      color: #0e1016;
      font-weight: 600;
      font-family: "Noto Sans", sans-serif;
      font-size: 1.2rem;
      text-decoration: underline;
    }
  }

  .jobs-list-container {
    padding: 0 0.25rem;
    // border: 1px solid red;
    background-color: #fdfdfd;
    border-top: 1px solid #fdfdfd;

    &.dark {
      background-color: #121420;
      border-top: 1px solid #121420;
    }

    .jobs-list {
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      margin: 1rem;
      justify-content: space-evenly;
      /* border: 1px solid black; */
    }

    .columns {
      margin: 0 !important;
      padding: 0 !important;
      // border: 2px solid red;
      .go-to-col {
        // border: 1px solid black;
        padding: 0 !important;
        margin: 0 !important;
        
        .go-to-link {
          // border: 1px solid black;
          padding: 3rem 2rem;
          color: #0e1016;
          font-family: "Noto Sans", sans-serif;
          font-size: 1rem;
          border: 1px solid #efefef;
          
          .icon {

          }

          &.no-hover {
            cursor: default !important;
          }

          .go-to-text {

          }
        }
      }
    }
  }
}
