.applications {
  background-color: #f8f8f8;
  min-height: 100vh;

  &.dark {
    background-color: #121420;
  }

  .jobs-list-container {
    padding: 0 0.25rem;
    // border: 1px solid red;
    background-color: #fdfdfd;
    border-top: 1px solid #fdfdfd;

    &.dark {
      background-color: #121420;
      border-top: 1px solid #121420;
    }

    .jobs-list {
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      margin: 1rem;
      justify-content: space-evenly;
      /* border: 1px solid black; */
    }

    .columns {
      margin: 0 !important;
      padding: 0 !important;
      // border: 2px solid red;
      .go-to-col {
        // border: 1px solid black;
        padding: 0 !important;
        margin: 0 !important;
        
        .go-to-link {
          // border: 1px solid black;
          padding: 3.5rem 2rem;
          color: #0e1016;
          font-weight: 600;
          font-family: "M PLUS Rounded 1c";
          font-size: 1.4rem;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          border: none;
          
          .icon {

          }

          .go-to-text {

          }
        }
      }
    }
  }
}
