.jobs-list-container {
  margin: 0 2rem;

  .jobs-list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    justify-content: space-evenly;
    /* border: 1px solid black; */
  }
}
