.page-two-container {
  // border: 1px solid black;
  margin-top: 1rem;
  //   min-height: 100%;
  // background-color: #f8f9fa;

  .page-two-form {
    box-shadow: 0 8px 30px rgb(0 29 54 / 10%);
    padding: 1rem 3rem;
    border-radius: 6px;
    margin: auto;
    width: 100%;
  }

  .page-two-title {
    color: #0e1016;
    font-family: "Noto Sans", sans-serif;
    margin-top: 0.8rem;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .page-two-short-desc {
    color: #0e1016;
    font-size: 0.9rem;
    font-weight: 300;
  }

  .field {
    // border: 1px solid black;
    max-width: 80%;

    .label {
      color: #0e1016;
      font-weight: 600;
      font-family: "M PLUS Rounded 1c";

      .required {
        font-size: 0.9rem;
        font-family: "Noto Sans", sans-serif;
        font-weight: 400;
      }
    }

    .label-subtitle {
      font-size: 0.9rem;
      font-family: "Noto Sans", sans-serif;
      font-weight: 400;
    }

    .error-text {
      font-size: 0.9rem;
      font-family: "Noto Sans", sans-serif;
    }

    .control {
      //   border: 1px solid black;

      .input,
      .textarea,
      select {
        color: #0e1016;
        font-weight: 500;
        font-family: "M PLUS Rounded 1c";
        border: none;

        &.is-danger {
          border: 1px solid #f14668 !important;
          margin-top: 0.5rem;
        }
      }
    }

    .next-button {
      height: 2.5rem;
      width: 9rem;
      background-color: #1a202c;
      color: rgba(255, 255, 255, 0.92);
      border: none;
      border-radius: 6px;
    }
  }

  &.dark {
    .page-two-title,
    .page-two-short-desc,
    .field > .label {
      color: white;
    }

    .field {
      .control > .input,
      .control > .textarea,
      select {
        background-color: transparent;
        color: white;
        border: 1px solid white;
      }

      .input::placeholder,
      .textarea::placeholder {
        color: white;
      }

      .next-button {
        color: #1a202c;
        background-color: rgba(255, 255, 255, 0.92);
      }
    }
  }
}
